* {
    box-sizing: border-box;
}

html {
    background: #000 url("https://regularlyscheduledprogrammingblog.files.wordpress.com/2018/01/space-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}

img {
    width: 90%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 1em;
}

h1 {
    font-weight: 700;
}

button {
    font-family: 'Exo', sans-serif;
    background: rgba(3, 21, 77, 0.70);
    color: #fff;
    border-radius: .5em;
    margin-top: 1.25em;
    padding: 5px;
}

footer {
    width: 100%;
    background: rgba(3, 21, 77, 0.70);
}

footer li {
    list-style-type: none;
    padding: 0.3125em 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header {
    text-align: center;
    width: 85%;
    color: #fff;
}

.container-quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-quote li {
    list-style-type: none;
}

.quote-display {
    text-align: center;
    margin: 0.625em;
    width: 85%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0.5em;
    background: rgba(3, 21, 77, 0.70);
    color: #fff;
}

.quote-display p {
    font-weight: 600;
}

.quote-display ul {
    padding: 0;
}

.source {
    font-style: italic;
}

.container-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    flex: 1;
}

.container-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Link Styles */
a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #a61ff9;
}

/* Media Queries */
@media (min-width: 417px) {
    .img {
        width: 85%;
    }
    .main-header {
        width: 70%;
    }
    .quote-display {
        width: 70%;
    }
}

@media (min-width: 768px) {
    img {
        width: 80%;
        margin-top: 4em;
    }
    .main-header {
        width: 60%;
    }
    .quote-display {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        width: 60%;
    }
}

@media (min-width: 910px) {
    img {
        width: 70%;
    }
    h1 {
        margin-bottom: 1em;
    }
    .main-header {
        width: 55%;
    }
    .quote-display {
        width: 55%;
    }
}

@media (min-width: 1068px) {
    img {
        width: 65%;
    }
    h1 {
        margin-bottom: 0.5em;
    }
    .main-header {
        width: 50%;
    }
    .quote-display {
        width: 40%;
    }
}

@media (min-width: 1300px) {
    img {
        width: 50%;
    }
    .quote-display {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
